.secondSection {
    height: 100vh;
    background-image: url('../../public/bg2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.invite-partner {
    margin-top: 82px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.invite-partner-content {
    padding-left: 257px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-partner {
    flex: 2;
}

.content-partner-2 {
    flex: 3;
    display: flex;
    justify-content: center;
}